{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "jsxSingleQuote": true,
  "printWidth": 80,
  "quoteProps": "preserve"
}